.container.tweet
  %h2.lead Los últimos tuits sobre Venezuela.
  - @tweets.each do |tweet|
    %hr
    %h6= formatted_time(tweet.published)
    %h4= tweet.username
    %p=  tweet.message
    %h6= tweet.location